body {
    background-image: url('./assets/background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-image: url('./assets/background-board.png');
    border-bottom: 1px solid white;
}

h1 {
    color: firebrick;
}

h3 {
    color: ghostwhite;
}

#btn {
    color: white;
    background-color: darkred;
    padding: 15px;
}

#btn:hover {
    color: black;
    background-color: crimson;
    font-weight: bold;
}